
 .login-form-container{
    display: flex;
    margin: auto;
    margin-top: 15px;
    padding: 20px;
    /* width: 500px; */
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    /* border: 1px solid black; */
 }

.login-input{
     padding: 5px;
     margin: auto;
}

 .session-submit{
     width: 330px;
     height: 45px;
     font-size: 14px;
     border-radius: 7px;
     color: white;
     background-color: red;
 }

.login-header{
    font-size: 22px;
    color: rgb(31, 19, 60);
    font-weight: bold;
}

.login-logo{
    /* font-family: Arial, Helvetica, cursive; */
    /* text-decoration: none; */
    font-family: 'Work Sans', sans-serif;
    color: red;
    font-size: 90px;
    font-weight: bold;
    transform: rotate(340deg);
    
}

.login-message{
    color: #797B8B;
    font-size: 14px;
}