.splash-img{
    height: 600px;
    width: 1530px;
}

.event-banner{
    display: flex;
    font-size: 26px;
    font-weight: bold;
    padding: 20px 40px;
    font-family: Arial, Helvetica, cursive;
}

.banner-purple{
    color: purple;
    padding-left: 8px;
    font-family: Arial, Helvetica, cursive;
}