.promo{
    /* padding-left: 100px; */
    /* display: flex; */
    margin: auto;
    /* border: 1px solid black; */
    height: 500px;
    width: 1200px;
}

.promo-header{
    font-size: 22px;
    color: rgb(31, 19, 60);
    font-weight: bold;
    font-family: Arial, Helvetica, cursive;
}

.promo-text{
    color: #797B8B;
}