.splash-footer{
    /* border: 1px solid black; */
    display: flex;
    position: absolute;
    height: 55px;
    background-color: purple;
    color: white;
    width: 100%;
    justify-content: center;
    /* position: fixed; */
    bottom: 0;
    margin-top: -55px;
    /* flex-shrink: 0; */
}

.fa-linkedin{
    color: white;
}

.fa-github{
    color: white;
}

.footer-nav{
    display: flex;
    justify-content: center;
}

.footer-nav-item{
    list-style: none;
    padding: 10px;
    padding-top: 20px;
}

.footer-nav-item:hover{
    cursor: pointer;
}
