.category-nav{
    display: flex;
    /* border: 1px solid white; */
    padding-left: 20px;
}

.c-nav-item{
    display: flex;
    text-align: center;
    padding: 10px 20px;
    color: #797B8B;
    border: 2px solid white;
}

.c-nav-item:hover{
    color: purple;
    cursor: pointer;
    border-bottom: 2px solid purple;
}